asttokens
attrs
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
colorama
comm
debugpy
decorator
executing
h11
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
MouseInfo
nest-asyncio
numpy
outcome
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyMsgBox
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil
python-dotenv
pytweening
pytz
pyzmq
requests
selenium
six
sniffio
sortedcontainers
soupsieve
stack-data
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
webdriver-manager
websocket-client
wsproto
